<!DOCTYPE html>
<html class="h-full bg-gray-50" lang="{{ .Site.Language }}" dir="{{ .Site.Language.Params.direction }}" itemscope itemtype="http://schema.org/WebPage">

<head>
    {{ partial "head.html" . }}
</head>

<body class="flex flex-col">
    <a class="sr-only focus:not-sr-only" href="#content">{{ i18n "key.skip-link" }}</a>

    {{ partial "header.html" . }}

    <main id="content" class="content mb-auto">
        {{ partial "breadcrumbs.html" . }}
        <div class="relative flex flex-col justify-center py-6 sm:px-6 lg:px-8 lg:py-12">

            <section
                class="prose prose-stone mx-auto w-full max-w-3xl flex-col px-8 prose-hr:w-full lg:flex lg:items-center lg:justify-between lg:px-8">

                <article class="flex w-full flex-col items-start justify-between border-b border-gray-300">
                    {{ if eq .Page.Params.style "introduction" }}
                    {{ else }}
                    <p class="mb-1 text-sm text-gray-500">{{ i18n "key.modules" 1 }} {{ .Page.Params.weight }}</p>
                    {{ end }}
                    <h1 class="mb-0 text-3xl font-semibold text-gray-900">
                        {{ .Page.Params.title }}
                    </h1>

                    <div class="w-full items-center justify-between lg:flex">
                        {{ if .GitInfo }}
                        {{ $day := .GitInfo.AuthorDate.Day }}
                        {{ $month := .GitInfo.AuthorDate.Month }}
                        {{ $year := .GitInfo.AuthorDate.Year }}
                        {{ $localizedMonth := i18n (printf "key.%s" $month) }}
                        <p class="me-2 inline-flex text-sm font-semibold text-green-900">{{ i18n "key.updated-on" }}: {{ printf "%d %s %d" $day $localizedMonth $year }}</p>
                        {{ else }}
                        <p class="text-sm text-green-900">{{ i18n "key.git-unavailable" }}</p>
                        {{ end }}
                        {{ partial "github.html" . }}
                        <button id="printButton" class="mb-5 inline-flex items-center text-sm font-semibold text-green-800 underline hover:text-green-900 hover:no-underline sm:mb-0 lg:mb-0">
                            <svg class="me-2 h-5 w-5" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="1.5" stroke="currentColor">
                                <title>Print</title>
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0 1 10.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0 .229 2.523a1.125 1.125 0 0 1-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0 0 21 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 0 0-1.913-.247M6.34 18H5.25A2.25 2.25 0 0 1 3 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 0 1 1.913-.247m10.5 0a48.536 48.536 0 0 0-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5Zm-3 0h.008v.008H15V10.5Z" />
                              </svg> {{ i18n "key.print-pdf" }}
                        </button>
                    </div>
                    
                </article>

                <article class="relative flex w-full flex-col items-start justify-between">
                    {{ $content := .Content }}
                    {{ $content = replaceRE `(<h[1-6] id=\"(.+)\".*>)(.*)(</h[1-6]>)` `${1}${3} <a aria-label="#${2}"
                        href="#${2}" class="anchor-link no-underline">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                        </svg>
                    </a>${4}` $content | safeHTML }}
                    <div class="w-full visited:prose-a:text-purple-800">
                        {{ $content | safeHTML }}
                    </div>

                    <!-- Table of Contents (ToC) Panel -->
                    <div class="absolute -left-64 mt-8 hidden h-full xl:block xl:max-w-64 2xl:-left-96 2xl:max-w-full">
                        <div class="h-full">
                            <div class="sticky top-0 px-4 py-2">
                                <h2 class="mb-4 mt-3 text-xl font-bold">{{ i18n "key.table-of-contents" }}</h2>
                                <div class="toc-container toc-scrollbar h-svh max-w-72 space-y-2 overflow-y-auto">
                                    {{ .TableOfContents }}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                      const tocLinks = document.querySelectorAll('#TableOfContents a');
                      const tocItems = Array.from(tocLinks);
                  
                      // Get header elements linked by the ToC
                      const headerElements = tocItems.map(link => {
                        const targetId = link.getAttribute('href').slice(1);
                        return document.getElementById(targetId);
                      });
                  
                      let isClicking = false; // Flag to track click events
                  
                      function updateActiveState() {
                        if (isClicking) return; // Skip updating if we are in clicking state
                  
                        const scrollPosition = window.scrollY + window.innerHeight / 2; // Center of the viewport
                  
                        let activeIndex = -1;
                        for (let i = 0; i < headerElements.length; i++) {
                          const header = headerElements[i];
                          if (header && header.getBoundingClientRect().top + window.scrollY <= scrollPosition) {
                            activeIndex = i;
                          } else {
                            break;
                          }
                        }
                  
                        // Update active class on ToC links
                        tocItems.forEach(link => link.classList.remove('active-element'));
                        if (activeIndex !== -1) {
                          tocItems[activeIndex].classList.add('active-element');
                  
                          // Scroll the toc-container to make the active item visible
                          const tocContainer = document.querySelector('.toc-container');
                          if (tocContainer) {
                            const activeItem = tocItems[activeIndex];
                            const activeItemRect = activeItem.getBoundingClientRect();
                            const tocContainerRect = tocContainer.getBoundingClientRect();
                            const offset = activeItemRect.top - tocContainerRect.top - tocContainer.clientHeight / 2 + activeItem.clientHeight / 2;
                  
                            tocContainer.scrollTop = offset;
                          }
                        }
                      }

                      function debounce(func, wait) {
                            let timeout;
                            return function (...args) {
                            clearTimeout(timeout);
                            timeout = setTimeout(() => func.apply(this, args), wait);
                            };
                        }
                  
                      // Smooth scrolling and setting active state on click
                      tocItems.forEach((item) => {
                        item.addEventListener('click', function (event) {
                          const targetId = item.getAttribute('href').slice(1);
                          const targetElement = document.getElementById(targetId);
                  
                          if (targetElement) {
                            event.preventDefault();
                            isClicking = true; // Set flag to true when clicking
                            targetElement.scrollIntoView({
                              behavior: 'auto', // No smooth scrolling
                              block: 'start'
                            });
                  
                            // Highlight the clicked ToC item
                            tocItems.forEach(link => link.classList.remove('active-element'));
                            item.classList.add('active-element');
                  
                            // Reset flag after scroll completes
                            setTimeout(() => isClicking = false, 200); // Timeout to reset flag
                          }
                        });
                      });
                  
                      // Handle scroll events
                      window.addEventListener('scroll', debounce(() => {
                        updateActiveState();
                      }, 100)); // Adjust debounce wait time as needed
                  
                      // Initial check to set the active element on page load
                      updateActiveState();
                    });
                </script>

                <section id="mark-complete" class="hidden w-full flex-col items-start justify-between">
                    <div class="mx-auto w-full rounded-xl border border-green-400 bg-white shadow-lg">
                        <div class="overflow-hidden rounded-t-xl">
                            <div class="bg-green-100 px-10 py-3">
                                {{ if eq .Page.Params.style "introduction" }}
                                <p class="m-0 text-lg font-semibold text-green-700">{{ i18n
                                    "key.congratulations-introduction" }}</p>
                                {{ else }}
                                <p class="m-0 text-lg font-semibold text-green-700">{{ i18n "key.congratulations-module" }}
                                    {{ i18n "key.modules" 1 }} {{ .Page.Params.weight }}!</p>
                                {{ end }}
                            </div>
                        </div>
                        <div class="px-10 py-4">

                            {{ if eq .Page.Params.style "introduction" }}
                            <p class="text-md mb-4 mt-0 text-gray-700">{{ i18n "key.mark-intro-complete" }}</p>
                            {{ else }}
                            <p class="text-md mb-4 mt-0 text-gray-700">{{ i18n "key.mark-module-complete" }}</p>
                            {{ end }}
                            <div
                                class="relative mb-4 flex w-full items-center gap-x-2 space-x-1 rounded-xl border-2 border-gray-200 bg-gray-50 px-4 py-3">
                                <div class="flex h-6 items-center">
                                    <input id="{{ .Page.Params.title }}Checkbox" aria-describedby="checkbox-description"
                                        name="checkbox" type="checkbox"
                                        class="h-4 w-4 rounded border-gray-300 text-green-700 focus:ring-green-700">
                                </div>
                                <div class="w-full text-sm">
                                    {{ if eq .Page.Params.style "introduction" }}
                                    <label for="{{ .Page.Params.title }}Checkbox"
                                        class="block cursor-pointer font-medium text-gray-900">{{ i18n
                                        "key.mark-intro-as-complete" }}</label>
                                    <p id="checkbox-description" class="sr-only text-gray-500">{{ i18n
                                        "key.mark-intro-as-complete-aria"
                                        }}</p>
                                    {{ else }}
                                    <label for="{{ .Page.Params.title }}Checkbox"
                                        class="block cursor-pointer font-medium text-gray-900">{{ i18n
                                        "key.mark-as-complete" }}</label>
                                    <p id="checkbox-description" class="sr-only text-gray-500">{{ i18n
                                        "key.mark-as-complete-aria"
                                        }}</p>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <nav class="flex w-full items-center {{ if not .NextInSection }}justify-end{{ else }}justify-between{{ end }} px-4 pt-6 sm:px-6"
                    aria-label="Pagination">
                    {{ with .NextInSection }}
                    <a href="{{ .Permalink }}"
                        class="relative flex items-center justify-start rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 no-underline ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">
                        <span class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="me-2 size-4" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                            </svg>
                            {{
                            i18n "key.previous-module" }}</span>
                    </a>
                    {{ end }}
                    {{ with .PrevInSection }}
                    <a href="{{ .Permalink }}"
                        class="relative flex items-center justify-end rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 no-underline ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">
                        <span class="flex items-center">
                            {{ i18n "key.next-module" }}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="ms-2 size-4" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3" />
                            </svg>
                        </span>
                    </a>
                    {{ end }}
                    {{ if not .PrevInSection }}
                    {{ if .Parent }}
                    <a href="{{ .Parent.Permalink }}"
                        class="relative flex items-center justify-end rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 no-underline ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">
                        <span class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" 
                                stroke="currentColor" class="me-2 size-4" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" 
                                    d="m9 9 6-6m0 0 6 6m-6-6v12a6 6 0 0 1-12 0v-3" />
                            </svg>
                            {{ i18n "key.overview-path" }}                     
                        </span>
                    </a>
                    {{ else }}
                    {{ end }}
                    {{ else }}
                    {{ end }}
                </nav>

                {{ $parent := .Parent }}
                {{ $parentPages := $parent.Pages }}
                {{ $parentPageCount := len $parentPages }}
                <span class="hidden" id="moduleCount" data-count="{{ $parentPageCount }}"></span>

                <script>
                    window.addEventListener('beforeprint', () => {
                        document.querySelectorAll('details').forEach(details => {
                            details.open = true;
                        });
                        });
                    document.getElementById('printButton').addEventListener('click', function () {
                        window.print();
                    });
                </script>

                <div id="congratulationsModal" x-data x-cloak>
                    <div @keydown.window.escape="$store.modal.open = false" 
                        x-show="$store.modal.open" 
                        @click.away="$store.modal.open = false"
                        x-transition:enter="ease-out duration-300" 
                        x-transition:enter-start="opacity-0" 
                        x-transition:enter-end="opacity-100" 
                        x-transition:leave="ease-in duration-200" 
                        x-transition:leave-start="opacity-100" 
                        x-transition:leave-end="opacity-0" 
                        class="fixed inset-0 z-10 flex items-center justify-center overflow-y-auto" 
                        aria-labelledby="modal-title" role="dialog" aria-modal="true">
                        <!-- Background backdrop -->
                        <div class="fixed inset-0 bg-gray-200 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

                        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                            <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">
                                <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6">
                                    <div class="absolute right-0 top-0 hidden pe-4 pt-4 sm:block">
                                        <button @click="$store.modal.open = false" type="button"
                                            class="rounded-md bg-white text-gray-500 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-offset-2">
                                            <span class="sr-only">{{ i18n "key.close" }}</span>
                                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                            </svg>
                                        </button>
                                    </div>
                                    <div>
                                        <div class="mx-auto flex h-20 w-20 items-center justify-center rounded-full bg-green-100 text-7xl">
                                            🎉
                                        </div>
                                        <div class="mt-3 text-center sm:mt-5">
                                            <h3 class="mb-1 text-2xl font-semibold text-gray-900" id="modal-title">{{ i18n "key.congratulations" }}</h3>
                                            <p class="text-sm text-gray-600">{{ i18n "key.all-completed" }}</p>
                                        </div>
                                    </div>
                                    <div class="mt-5 sm:mt-6">
                                        <a href="{{ .Site.LanguagePrefix }}/badges" class="inline-flex w-full justify-center rounded-md bg-green-700 px-3 py-2 text-sm font-semibold text-white no-underline shadow-sm hover:bg-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800">{{ i18n "key.get-badge" }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ $permalink := .Permalink }}
                {{ $parts := split $permalink "/" }}
                {{ $lastTwoParts := index $parts (sub (len $parts) 3) }}
                {{ $lastPart := index $parts (sub (len $parts) 2) }}
                {{ $url := printf "/%s/%s" $lastTwoParts $lastPart }}

                <span id="moduleId" class="hidden">{{ $url }}</span>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        // Alpine store initialized with modal as closed
                        Alpine.store('modal', { open: false });

                        // Retrieve the moduleId from the URL or any other consistent source
                        const moduleId = document.getElementById("moduleId").innerHTML;

                        // Retrieve the checkbox element
                        const checkbox = document.getElementById("{{ .Page.Params.title }}Checkbox");

                        // Retrieve the username from localStorage
                        const username = localStorage.getItem("loggedInUser");

                        // Retrieve the userData object from localStorage
                        const userDataString = localStorage.getItem(username);
                        const userData = userDataString ? JSON.parse(userDataString) : {};

                        // Retrieve the checkbox state from the userData object
                        const completionState = userData[moduleId] === true;

                        // Set the checkbox state
                        checkbox.checked = completionState;

                        // Add an event listener to the checkbox to store the completion state in localStorage when it changes
                        checkbox.addEventListener("change", function () {
                            // Update userData with moduleId and its completion state
                            userData[moduleId] = this.checked;

                            // Store updated userData back in localStorage
                            localStorage.setItem(username, JSON.stringify(userData));

                            // Check total learning path progress from within module subpage
                            updateLearningPathProgress();
                        });

                        function updateLearningPathProgress() {
                            const permalinkParts = window.location.pathname.split("/");
                            const learningPathId = "/" + permalinkParts[permalinkParts.length - 3]; // Unique identifier for the learning path

                            let completedModules = 0;
                            let totalModules = parseInt(document.getElementById("moduleCount").getAttribute("data-count"));

                            for (let [key, value] of Object.entries(userData)) {
                                if (key.startsWith(learningPathId) && value === true) {
                                    completedModules++;
                                }
                            }

                            // Calculate the progress percentage
                            const progressPercent = Math.round((completedModules / totalModules) * 100);

                            // Store the progress percentage in localStorage
                            const progressKey = `progress_${learningPathId}`;
                            userData[progressKey] = progressPercent;
                            localStorage.setItem(username, JSON.stringify(userData));

                            // Check if the current module is the last one completed
                            if (completedModules === totalModules) {
                                Alpine.store('modal').open = true;
                            }
                        }
                    });
                </script>

                <script>
                    document.addEventListener('alpine:init', () => {
                        // Initialize Alpine modal store as closed by default
                        Alpine.store('modal', {
                            open: false
                        });
                    });
                </script>
            </section>
        </div>
    </main>

    {{ partial "footer.html" . }}
    {{ partial "javascript.html" . }}

</body>