{{ $main := resources.Get "js/main.js" }}
{{ $alpine := resources.Get "js/alpine.min.js" }}
{{ $secureJS := slice $main $alpine | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{ range $val := $.Site.Params.customJS }}
{{ if gt (len $val) 0 }}
<script src="{{ $val }}"></script>
{{ end }}
{{ end }}

{{ $instant := resources.Get "js/instantpage.js" }}
{{ $instantpage := slice $instant | resources.Concat "instant.js" | resources.Minify }}
<script type="module" defer src="{{ $instantpage.RelPermalink }}"></script>

{{ $insights := resources.Get "js/clean-insights.js" }}
{{ $cleaninsights := slice $insights | resources.Concat "clean-insights.js" | resources.Minify }}
<script src="{{ $cleaninsights.RelPermalink }}"></script>

<div id="tracking-banner" class="pointer-events-none fixed inset-x-0 bottom-0 px-6 pb-6">
  <div class="pointer-events-auto mx-auto max-w-xl rounded-xl bg-white p-6 shadow-lg ring-1 ring-gray-900/10">
    <p class="text-sm leading-6 text-gray-900">This website uses <a href="https://cleaninsights.org/">Clean Insights</a> for privacy-preserving web analytics. By using the site you agree to allow the collection of basic country, language, navigation, and user-agent information.</p>
    <div class="mt-4 flex items-center gap-x-5">
      <button id="accept-consent" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
        Accept
      </button>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const ci = CleanInsightsAutoTracker("https://metrics.cleaninsights.org/cleaninsights.php", 34);
  console.log(ci);

  const banner = document.getElementById('tracking-banner');
  const acceptButton = document.getElementById('accept-consent');

  // Function to handle consent
  const handleConsent = () => {
    banner.style.display = 'none';

    ci.grantCampaign('visits');
    ci.grantFeature(CleanInsightsFeature.ua);
    ci.grantFeature(CleanInsightsFeature.lang);
  };

  // Set up button click event
  acceptButton.addEventListener('click', handleConsent);

  // Show banner if consent is not given
  if (!ci.campaignConsents.some(item => item === 'visits')) {
    banner.style.display = 'flex';
  }
});
</script>

<script type="module">
    await import('/pagefind/pagefind-highlight.js');
    new PagefindHighlight({ highlightParam: "highlight" });
</script>