<div class="pb-10 pt-8">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-lg grid-cols-2 items-center gap-x-8 gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-4">
        <img class="col-span-2 max-h-14 w-full object-contain lg:col-span-1" src="/media/logos/internews-logo.png" alt="Internews" width="auto" height="70" loading="lazy">
        <img class="col-span-2 max-h-14 w-full object-contain lg:col-span-1" src="/media/logos/conexo-logo.png" alt="Conexo" width="auto" height="70" loading="lazy">
        <img class="col-span-2 max-h-14 w-full object-contain lg:col-span-1" src="/media/logos/defend-defenders-logo.png" alt="Defend Defenders" width="auto" height="70" loading="lazy">
        <img class="col-span-2 max-h-14 w-full object-contain sm:col-start-2 lg:col-span-1" src="/media/logos/josa-logo.svg" alt="Josa" width="auto" height="70" loading="lazy">
      </div>
    </div>
</div>